@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic);
html {
  height: 100%;
  font-family: "Roboto Condensed";
}

body {
  min-height: 100%;
  background-color: #0c0c0c;
}


body {
  text-align: center;
  padding: 20px 0;
  min-width: 600px;
}

h1 {
  font-size: 1.8em;
  color: #fff;
  margin-bottom: 50px;
  letter-spacing: -1px;
  text-transform: capitalize;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}
.cram {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

h3, h4 {
  text-align: center;
  margin: 0;
  
}

h3 {
  font-size: 2.47em;
  color: #fff;
  text-shadow: 0 2px 2px rgba(70, 68, 68, 0.6);
  letter-spacing: 0.16em;
  width: 5em;
}
h4 {
  font-size: 4em;
  color: #fff;
  text-shadow: 0 2px 2px rgba(70, 68, 68, 0.6);
  letter-spacing: 0.1em;
  width: 5em;
   
}

ul {
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4) inset;
  border-radius: 16px;
  margin: 0;
  padding: 0 30px;
}

ul > li > a {
  display: inline-block;
  letter-spacing: -1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.select {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}
/* The effect 
-------------------------*/

ul {
  display: inline-block;
  text-align: center;
  font-size: 1.3em;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}

ul > li {
  float: left;
  height: 100%;
  list-style: none;
  margin: 0 30px;
}

ul > li > a {
  text-shadow: 0 -50px #cdf745;
  padding-top: 50px;
  margin-top: -50px;
  transition: 0.25s cubic-bezier(0, 0, 0.5, 1.4);
}

ul > li > a:hover {
  margin-top: 0;
}
