html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #3d3935;
  color: #e2e1e1;
}
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}
.nom {
  display: flex;
  flex-direction: row;
  padding: 10vw;
  background-color: #3d3935;

}
.cram {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.8em;
  text-transform: uppercase;
  margin-right: 0.5em;
  padding-right: 0.5em;
}

.container {
/* Suggested code may be subject to a license. Learn more: ~LicenseLog:3378750043. */
  font-size: 1em;
  letter-spacing: 0.8em;
  position: absolute;
  opacity: 0; /* Inicialmente ocultas */
  animation: fadeInOut 12s infinite; /* Duración total de la animación */
}

.dev { 
  animation-delay: 0s; 
}

.des {
  animation-delay: 3s;
}

.tech {
  animation-delay: 6s;
}

.hum {
  animation-delay: 9s;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  8.33% { opacity: 1; } /* Aparece en 1 segundo (1/12 de la duración total) */
  25% { opacity: 1; }  /* Permanece visible durante 3 segundos (3/12) */
  33.33% { opacity: 0; } /* Desaparece en 1 segundo (1/12) */
  100% { opacity: 0; } /* Permanece oculto el resto del tiempo */
}

ul {
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4) inset;
  border-radius: 16px;
  margin: 0;
  padding: 0 30px;
}

ul > li > a {
  display: inline-block;
  letter-spacing: -1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.select {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

/* The effect 
-------------------------*/

ul {
  display: inline-block;
  text-align: center;
  font-size: 1.3em;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}

ul > li {
  float: left;
  height: 100%;
  list-style: none;
  margin: 0 30px;
}

ul > li > a {
  text-shadow: 0 -50px #cdf745;
  padding-top: 50px;
  margin-top: -50px;
  transition: 0.25s cubic-bezier(0, 0, 0.5, 1.4);
}

ul > li > a:hover {
  margin-top: 0;
}

.projects {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  padding-bottom: 50vh;

}

.title{
  width: 100%;
  background-color: #3d3935;
  color: #e2e1e1;
  display: flex;
  letter-spacing: 0.8em;
  height: 20vh;
  align-items: center;
  justify-content: center;



}
/* Estilos para projects-container */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  padding: 5px;
  
}

/* Estilos para pr01, pr02, pr03 (y cualquier otro pr) */
.pr01, .pr02, .pr03 {
  width: calc(33% - 10px); /* Ancho ajustado para que quepan en una línea */
  margin-bottom: 20px;
  text-align: center;
  background-color: #3d3935;
  border-radius: 5px;
  color: #e2e1e1;
}

.pr01 img, .pr02 img, .pr03 img {
  max-width: 95%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.pr01 h3, .pr02 h3, .pr03 h3 {
  margin-bottom: 10px;
}
.techstack img {
  width: 1.5em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  transition: transform 0.3s ease;
}
.techstack {
  width: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.techstack img:hover {
  transform: scale(1.2); /* Aumenta el tamaño en un 20% */
}
.lcdc-img { 
  position: relative; 
  display: inline-block; 
}

.lcdc-img .legend {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 10px;
  transition: opacity 0.3s ease-in-out;
}

.lcdc-img:hover  .legend {
  visibility: visible;
  opacity: 1;
}

.fm987-img { 
  position: relative; 
  display: inline-block; 
}

.fm987-img .legend {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 10px;
  transition: opacity 0.3s ease-in-out;
}

.fm987-img:hover  .legend{
  visibility: visible;
  opacity: 1;
}

.lm2030-img { 
  position: relative; 
  display: inline-block; 
}

.lm2030-img .legend {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 10px;
  transition: opacity 0.3s ease-in-out;
}

.lm2030-img:hover .legend{
  visibility: visible;
  opacity: 1;
}

.legend p {
  text-align: start;
  padding: 2em;
  margin-left: -1.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(255, 255, 255);
  z-index: 9999;
}

/* Estilos para la sección Habilidades */
.skills {
  text-align: center; /* Centra el texto */
  height: 100vh;
  width: 100%;
  background-color: black;
  padding-bottom: 200px;
}

.skills-container {
  display: flex; /* Distribuye las categorías en fila */
  justify-content: space-around; /* Separa las categorías */
  flex-wrap: wrap; /* Permite que las categorías se ajusten en pantallas pequeñas */
  margin: 0 auto; /* Centra el contenedor */
  max-width: 90%; /* Ancho máximo del contenedor */
  background-color: black;
  padding-top: 1em;
  
}

.skill-category {
  width: 45%; /* Ancho de cada categoría */
  margin-bottom: 30px; /* Espacio inferior entre categorías */
}

.skill-category h3 {
  font-size: 24px; /* Tamaño de fuente del título de categoría */
  margin-bottom: 15px; /* Espacio inferior del título */
  width:50%;
}

.skill-category .skills-list {
  /* Elimina estilos de lista */
  display: block; /* o flex, grid según tu diseño */ 
  text-align: left;
}

.skill-category .skills-item {
  font-size: 18px;
  margin-bottom: 10px;
  /* Otros estilos que necesites */
}

/* barritas */

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #3d3935; /* Color de fondo de la barra */
  border-radius: 5px; /* Bordes redondeados */
  margin-top: 5px; /* Espacio superior */
}

.progress {
  height: 100%;
  background-color: #cef7456c; /* Color de la barra de progreso */
  border-radius: 5px; /* Bordes redondeados */
  width: 0%; /* Inicialmente, el ancho es 0% */
  transition: width 0.5s ease-in-out; /* Transición suave al cambiar el ancho */
}

/* Aplica el ancho de la barra de progreso según el atributo data-percent */
[data-percent="90"] .progress { width: 90%; }
[data-percent="80"] .progress { width: 80%; }
[data-percent="70"] .progress { width: 70%; }
[data-percent="60"] .progress { width: 60%; }
[data-percent="50"] .progress { width: 50%; }
[data-percent="40"] .progress { width: 40%; }
[data-percent="30"] .progress { width: 30%; }
[data-percent="20"] .progress { width: 20%; }
[data-percent="10"] .progress { width: 10%; }

/* ... agrega más reglas para otros porcentajes ... */

.description {
  font-size: 14px;
  color: #666; /* Color del texto de la descripción */
  margin-top: 5px; /* Espacio superior */
  text-indent: 20px
}

