html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #3d3935;
  color: #e2e1e1;
}
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}
.nom {
  display: flex;
  flex-direction: row;
  padding: 10vw;
  background-color: #3d3935;

}
.cram {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.8em;
  text-transform: uppercase;
  margin-right: 0.5em;
  padding-right: 0.5em;
}

.container {
/* Suggested code may be subject to a license. Learn more: ~LicenseLog:3378750043. */
  font-size: 1em;
  letter-spacing: 0.8em;
  position: absolute;
  opacity: 0; /* Inicialmente ocultas */
  animation: fadeInOut 12s infinite; /* Duración total de la animación */
}

.dev { 
  animation-delay: 0s; 
}

.des {
  animation-delay: 3s;
}

.tech {
  animation-delay: 6s;
}

.hum {
  animation-delay: 9s;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  8.33% { opacity: 1; } /* Aparece en 1 segundo (1/12 de la duración total) */
  25% { opacity: 1; }  /* Permanece visible durante 3 segundos (3/12) */
  33.33% { opacity: 0; } /* Desaparece en 1 segundo (1/12) */
  100% { opacity: 0; } /* Permanece oculto el resto del tiempo */
}
.cont {
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.8em;
  text-transform: uppercase;	
}
.cont a {
  text-decoration: none;
  color: transparent; 
  position: relative; 
  overflow: hidden; 
  display: inline-block; 
}

.cont a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0; 
  width: 0; 
  height: 100%;
  background-color: white;
  transform: skewX(-10deg);
  transition: width 0.3s ease; 
}

.cont a::after { 
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white; 
  transition: color 0.3s ease, font-style 0.3s ease; /* Transición para color y estilo */
}

.cont a:hover::before {
  width: 100%; 
}

.cont a:hover::after {
  color: black;
  font-style: italic; /* Cambia el estilo de la fuente a cursiva */
}

.dw {
  width: 30px;
  height: 30px;
  background-color: gray;
  border: none;
  border-radius: 50%; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.dw a { 
  text-decoration: none; 
  color: white;
  display: inline-block;
  transform: rotate(90deg); 
  transition: color 0.3s ease; 
}

.dw:hover {
  background-color: white;
}

.dw:hover a {
  color: black;
}

.projects {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  top: 0px;
}

.title{
  width: 100%;
  background-color: #3d3935;
  color:#e2e1e1;
  text-align: center;
  letter-spacing: 0.8em;
  height: 20vh;
}
/* Estilos para projects-container */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  padding: 5px;
}

/* Estilos para pr01, pr02, pr03 (y cualquier otro pr) */
.pr01, .pr02, .pr03 {
  width: calc(33% - 10px); /* Ancho ajustado para que quepan en una línea */
  margin-bottom: 20px;
  text-align: center;
  background-color: #757575;
  border-radius: 5px;
  color: #e2e1e1;
}

.pr01 img, .pr02 img, .pr03 img {
  max-width: 95%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.pr01 h3, .pr02 h3, .pr03 h3 {
  margin-bottom: 10px;
}
/* Media query para tablets (ancho entre 768px y 1024px)
@media (max-width: 1020px) {
  .pr01, .pr02, .pr03 {
    width: calc(25% - 10px); 
  }
}
Media query para móviles (ancho menor a 768px)
@media (max-width: 768px) {
  .pr01, .pr02, .pr03 {
    width: calc(40% - 20px); Ancho ajustado para móviles (ocupa todo el ancho) */
  